* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* body {
  width: 100%;
  min-height: 100vh;
} */
.navbar {
  position: fixed;
  width: 99%;
  background: linear-gradient(
      to bottom,
      rgba(10, 37, 190, 0.69),
      rgba(59, 9, 47, 0.73)
    ),
    url("https://cdn.pixabay.com/photo/2017/08/28/17/07/model-2690432_1280.jpg");
  height: 140px;
}
.navbar-toggler {
  border: none;
}
.search-btn {
  border: 1px solid #0000ff !important;
  color: #0000ff;
}
.search-btn:hover {
  background-color: rgba(30, 18, 190, 0.533);
}
.navbar-brand {
  font-size: 2rem;
}

.nav-item {
  background-color: transparent;
  color: #fff;
  font-size: 1.2rem;
}
.nav-item:hover {
  background-color: #0000ff;
  color: #fff;
  text-decoration: underline;
  text-transform: uppercase;
}
.dropdown-menu {
  border-radius: 5px;
  background: linear-gradient(
      to bottom,
      rgba(10, 37, 190, 0.69),
      rgba(59, 9, 47, 0.73)
    ),
    url("https://cdn.pixabay.com/photo/2017/08/28/17/07/model-2690432_1280.jpg");
}
.dropdown-item {
  color: #fff !important;
  line-height: 2;
}
.dropdown-item:hover {
  color: #0000ff !important;
}
.middle {
  background: linear-gradient(
      to bottom,
      rgba(10, 37, 190, 0.69),
      rgba(59, 9, 47, 0.73)
    ),
    url("https://cdn.pixabay.com/photo/2017/08/28/17/07/model-2690432_1280.jpg");
  min-height: 800px;
  text-align: center;
  margin: 0 0 2px 0;
}
.intro-text {
  width: 50%;
  margin: 0 auto;
  padding: 15% 0;
}
.intro-text h1 {
  color: #ffff00;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.5;
}
.intro-text p {
  color: #fff;
  font-size: 1.2rem;
  padding: 20px 0;
  line-height: 1.5;
}
.intro-text button {
  width: 15rem;
  border-radius: 8px;
  background-color: transparent;
  color: #fff;
  border: 2px solid rgb(22, 22, 230);
}
.intro-text button:hover {
  background-color: #fff;
  color: rgb(22, 22, 230);
}
/* Carousel */
.slides {
  padding-bottom: 30px;
}
.carousel-item h2 {
  color: #ffff00;
}

.carousel-item p {
  color: #fff;
}
.carousel-image {
  width: 200px;
  border-radius: 15px;
}
.recent-element {
  text-align: center;
}
.contact-icon {
  margin-top: 15px;
  font-size: 1.2rem;
  padding-inline: 30px;
  background-color: #0000ff;
  color: rgb(228, 241, 43);
  line-height: 2;
  border-radius: 15px;
  text-align: center;
}
.contact-icon:hover {
  background-color: #fff;
  color: #0000ff;
  text-decoration: underline;
}
.call-icon {
  width: 80px;
  border-radius: 100%;
}
.whatsapp-icon {
  width: 80px;
}
.recent-element a {
  text-decoration: none;
  color: rgb(34, 30, 30);
}
.element-img {
  width: 300px;
}

.recent-element a:hover {
  color: blue;
  font-size: 1.5rem;
}
.recent-element {
  padding: 15px;
  border-bottom: 1px solid #0000ff;
}
.recent-element div {
  padding-top: 15px;
}
.recent-element a img {
  padding-inline: 15px;
}

.img {
  width: 300px;
}
hr {
  margin: 0;
}
footer {
  background-color: rgba(22, 22, 230, 0.2);
  min-height: 350px;
  margin: 0;
}
.social-icons {
  display: inline;
  text-align: justify;
  width: 70%;
}
.social-icons a {
  font-size: 1rem;
  display: inline;
  text-decoration: none;
  padding-inline: 50px;
  padding-top: 150px;
  font-family: "Montserrat";
  line-height: 1.5;
}
.social-icons h4 {
  margin-bottom: 0;
  display: block;
  position: relative;
  left: 30px;
  padding-top: 15px;
}
.copyright {
  font-family: "Times New Roman", Times, serif;
  color: gray;
  padding: 0;
}

.our-team {
  display: inline;
  position: relative;
  left: 220px;
  bottom: 100px;
  color: #0d6efd;
}
.our-team h4 {
  position: relative;
  left: 30px;
  font-size: 1rem;
  color: #000;
}
#logo {
  padding-top: 20px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.our-team ul {
  list-style: circle;
  font-size: o.56rem;
  width: 50%;
  padding-top: 0;
  margin-top: 0;
}
#email {
  font-weight: 50;
}
.copyright {
  font-size: 1.3rem;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

/* Media Queries */
@media (max-width: 800px) {
  .middle {
    height: 400px;
  }
  #logo {
    padding-top: 15px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  .nav-item {
    background-color: #0000ff;
  }
  .intro-text {
    padding-top: 100px;
  }
  .intro-text h1 {
    font-size: 1.5rem;
    padding-top: 60px;
  }
  .intro-text p {
    font-size: 1rem;
    width: 100%;
  }
  .middle button {
    margin: 0 auto;
    width: 200px;
  }
  .recent-element {
    text-align: center;
    width: 100%;
  }
  .carousel-control-next,
  .carousel-control-prev {
    color: #ffff00;
    font-size: 8rem;
  }
  footer {
    height: 200px;
  }
  .social-icons {
    display: block;
    font-family: "Montserrat";
    width: 100%;
  }
  .social-icons a {
    display: inline;
    text-decoration: none;
    margin: 15px;
  }

  footer a i {
    font-size: 0.6rem;
  }
  .our-team {
    display: inline;
    position: relative;
    left: 200px;
    bottom: 100px;
    color: #0d6efd;
  }
  .copyright {
    font-family: "Times New Roman", Times, serif;
    color: gray;
    font-size: 1rem;
  }
  .about-us article {
    text-align: center;
    width: 90%;
  }
  .contact-body img {
    position: relative;
    right: 100px;
    width: 250px;
  }
  .content h5 {
    width: 100%;
  }
}

/* HOSTELS PAGE */
.content {
  padding-top: 130px;
}
.hostel-head {
  text-align: center;
  height: 300px;
  background: linear-gradient(
      to bottom,
      rgba(10, 37, 190, 0.69),
      rgba(59, 9, 47, 0.73)
    ),
    url("https://cdn.pixabay.com/photo/2017/08/28/17/07/model-2690432_1280.jpg");
}
.hostel-head h1 {
  color: #ffff00;
  padding-top: 80px;
  font-size: 3rem;
  font-weight: 700;
}
.row hr {
  height: 3px;
  width: 100%;
  color: #0000ff;
}
.top-button {
  background-color: #0000ff;
  border-radius: 8px;
  height: 30px;
  width: 40%;
  margin: 0 80%;
}
.top-button:hover,
.scroll-top:hover {
  background-color: #fff;
  color: #0000ff;
}
.scroll-top {
  text-decoration: none;
  font: 2rem;
  color: #fff;
}

/* ABOUT PAGE */
.about-head {
  height: 150px;
  background: linear-gradient(
      to bottom,
      rgba(10, 37, 190, 0.69),
      rgba(59, 9, 47, 0.73)
    ),
    url("https://cdn.pixabay.com/photo/2017/08/28/17/07/model-2690432_1280.jpg");
  color: #ffff00;
  text-align: center;
  padding-top: 30px;
}
#content {
  background-color: lightblue;
}
article {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
article p {
  text-align: center;
}
article img {
  position: relative;
  right: 100px;
  width: 300px;
  margin: 0 auto;
}

.about-head h1 {
  font-size: 3.5rem;
  padding-top: 20px;
}
.about-us {
  text-align: center;
}
.about-us article {
  padding: 3% 8%;
}

/* CONTACT STYLES */
.contact-head {
  height: 200px;
  background: linear-gradient(
      to bottom,
      rgba(10, 37, 190, 0.69),
      rgba(59, 9, 47, 0.73)
    ),
    url("https://cdn.pixabay.com/photo/2017/08/28/17/07/model-2690432_1280.jpg");
  padding-top: 15px;
  text-align: center;
}
.contact-head h1 {
  font-size: 3.5rem;
  padding-top: 30px;
  color: #ffff00;
}
.contact-head p {
  color: #fff;
}
.contact-body {
  background-color: lightblue;
  text-align: center;
}

.contact-body ul {
  list-style: none;
}
.contact-body table {
  margin: px;
  width: 100%;
}

.contact-body input {
  border-radius: 15px;
  width: 300px;
  border: 2px solid #0000ff;
}
.contact-body form {
  padding: 15px 0;
}
.content h5 {
  width: 60%;
  margin: 15px auto;
  padding-top: 20px;
}
.fa-angle-up {
  font-size: 3rem;
  background-color: #0000ff;
  color: #ffff00;
  margin-left: 80%;
  width: 70px;
  text-align: center;
}
#submit {
  background-color: #0000ff;
  color: #fff;
}
#submit:hover {
  background-color: #fff;
  color: #0000ff;
}
